.movies {
    .movie {
        width: 565px;
        background-color: white;
        margin-bottom: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 300;
        border-radius: 5px;
        color: #adaeb9;
        cursor: pointer;
        padding: 20px;
        transition: transform .3s ease-in-out;
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);

        @include hover {
            transform: translateY(-7px);
        }

        img {
            position: relative;
            flex: 0 0 185px;
            max-width: 185px;
            margin-right: 20px;
            box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
        }

        .movie__data {
            flex: auto;
        }

        .movie__header {
            padding-bottom: 10px;
            border-bottom: 1px solid #e5e5e5;
        }

        .movie__title {
            margin-bottom: 5px;
            font-size: 18px;
            color: #2c2c2c;
        }

        .movie__subtitle {
            margin-top: -8px;
            font-weight: 300;
        }

        .movie__year {
            margin: 0;
            font-weight: 300;
        }

        .movie__info {
            padding: 10px 0;

            + .movie__info {
                border-top: 1px solid #e5e5e5;
            }
        }

        .movie__openat,
        .movie__status,
        .movie__audits,
        .movie__showtimes,
        .movie__nations,
        .movie__directors,
        .movie__genres,
        .movie__distributor {
            display: flex;
            align-items: center;
            color: #2c2c2c;
            font-size: 13px;
            
            > span {
                flex: 0 0 80px;
                font-weight: 700;
            }
        }
        
    }
}